@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body {
    background: #393838;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.navbar {
    padding-left: 100px;
    padding-right: 100px;
    background: #2d2c2c;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    margin-top: 7px;
}

.navbar ul li {
    text-decoration: none;
    display: inline;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.navbar a {
    padding: 0;
    text-decoration: none;
    color: #bab5b5;
    cursor: pointer;
    font-weight: 400;
}

.navbar a:hover {
    color: #fff;
}

.navbar button {
    margin-top: -12px
}

.navbar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 0;
    margin-top: -12px;
}

.about {
    padding-top: 100px;
}

.about img {
    width: 100%;
    filter: grayscale(0.5);
}

.about-dec {
    margin-bottom: 75px;
}

.about h2 {
    color: #fff;
    font-weight: 400;
    font-family: 'Baskervville', serif;
    font-weight: 400;
}

.about h2 span {
    color: #ffc107;
    font-size: 3.5rem;
    font-weight: 600;


}

.about h1 {
    outline-color: #ffc107;
    display: inline;
    border-bottom: 3px solid #ffc107;
    font-size: 4rem;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Baskervville', serif;
    font-weight: 400;

}

.about .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-discription {
    padding: 0 75px;
}

.summry ol {
    padding: 0 0 0 100px;
    margin-top: 30px;
    color: #bab5b5;
    font-size: 18px;
    font-weight: 400;
}

.skills {
    text-align: center;
    margin-top: 50px;
}

.skills h1 {
    font-size: 4rem;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Baskervville', serif;
    font-weight: 400;

}

.skills-card {
    background-color: #3d3e42;
    border-radius: 20px;
    padding: 40px 0;
    margin-top: 30px;
    text-align: center;

}

.skills-card:hover {
    background-color: #ffc107;
}

.skills-card img {
    object-fit: cover;

}

.skills-card h3 {
    font-size: 20px;

}


.experience h5 {
    font-size: 23px;
    font-weight: 600;
    color: white;
}

.experience-div h6 {
    color: #fff;
    font-size: 20px;
}

.experience-div p {
    color: #d4cece;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}


ul {
    list-style: none;
    /* Remove default list item markers */
}

.round li::before {
    content: "a";
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: -30px;
    margin-top: 12px;
    width: 15px;
    height: 15px;
    background-color: #ffc107;
    color: #ffc107;
    border-radius: 50%;
    font-size: 1px;
    box-shadow: 0px 0px 20px 5px #fec86a;

}

.round2 p::before {
    content: "a";
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: -20px;
    margin-top: 12px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 1px;
    /* box-shadow: 0px 0px 20px 5px #fff; */

}

.contact-me {
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
}

.contact-me h1 {
    font-size: 60px;
    color: white;
    font-family: 'Baskervville', serif;
    font-weight: 400;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


/* <<<<<<< HEAD */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
    }

    .navbar ul li {
        font-size: 16px;
        font-weight: 600;
        color: aliceblue;
    }

    .about-discription {
        padding: 0 0 0 10px;
    }

    .summry ol {
        padding: 0 0 0 40px;
        font-size: 15px;

    }

    .navbar img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        margin-top: 2px;
    }

    .about {
        padding-top: 70px;

    }

    .about-dec {
        margin-bottom: 50px;
    }

    .about-discription h2 span {
        font-size: 2.5rem;
    }

    .about h1 {
        font-size: 2.5rem;
    }

    .skills h1 {
        font-size: 2.5rem;
    }

    .skills-card img {
        /* padding: 0; */
        padding: 0;

        width: 50px;
        height: 50px;
    }

    .experience h5 {
        font-size: 20px;

    }

    .experience h6 {
        font-size: 18px;
    }

    .experience p {
        font-size: 16px;
    }

    .contact-me h1 {
        font-size: 3rem;
    }

    .contact-me {
        padding: 50px;
    }

    .contact {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact .mr-3 {
        margin-right: 10px;
    }
    .contact .ml-3 {
        margin-left: 10px;
    }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    html{
        font-size: 80%;
    }
    .navbar {
        padding-left: 40px;
        padding-right: 40px;
    }
    .summry ol {
        padding: 0 0 0 30px;
    }

    .navbar img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        margin-top: 4px;
    }
.container{
    width: 600px;
    max-width: 600px;
}
    .about {
        padding-top: 70px;
    }

    .about-dec {
        margin-bottom: 50px;
    }

    .about-discription h2 span {
        font-size: 2.8rem;
    }

    .about h1 {
        font-size: 2.8rem;
    }

    .skills h1 {
        font-size: 2.8rem;
    }

    .skills-card img {
        padding: 0;
        width: 50px;
        height: 50px;
    }

    .experience h5 {
        font-size: 20px;

    }

    .experience h6 {
        font-size: 18px;
    }

    .experience p {
        font-size: 16px;
    }

    .contact-me h1 {
        font-size: 3rem;
    }

    .contact-me {
        padding: 50px;
    }

    .contact {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact .mr-3 {
        margin-right: 10px;
    }
    .contact .ml-3 {
        margin-left: 10px;
    }


    .about-discription {
        padding: 0 0 0 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}